<main>
    <div class="head-title">
        <h1>Hello!!👋</h1>
        <p>Let´s review the covid situation of any country</p>
    </div>
    <app-searcher [countries]="countries" (countrySelected)="getCountrySelected($event)"></app-searcher>
    <div class="details-card">
      <h1>{{covidData.country}}</h1>
      <hr>
      <div class="detail-info confirmed">
        <h2>Confirmed</h2>
        <div class="container">
          <div class="content">
            <h3>New:</h3>
            <p>{{covidData.newConfirmed}}</p>
          </div>
          <div class="content">
            <h3>Total:</h3>
            <p>{{covidData.totalConfirmed}}</p>
          </div>
        </div>
      </div>
      <div class="detail-info deaths">
        <h2>Deaths:</h2>
        <div class="container">
          <div class="content">
            <h3>New:</h3>
            <p>{{covidData.newDeaths}}</p>
          </div>
          <div class="content">
            <h3>Total:</h3>
            <p>{{covidData.totalDeaths}}</p>
          </div>
        </div>
      </div>
      <div class="detail-info recovered">
        <h2>Recovered:</h2>
        <div class="container">
          <div class="content">
            <h3>New:</h3>
            <p>{{covidData.newRecovered}}</p>
          </div>
          <div class="content">
            <h3>Total:</h3>
            <p>{{covidData.totalRecovered}}</p>
          </div>
        </div>
      </div>
    </div>
</main>
