$darkColor:#1f1f1f;
$lightColor:#ffff;
$searchBoxBgColor:#eeee;
$searchBoxIconColor:#a1a1a1;
$summaryGlobalTextColor:#545454;
$cardColor:#211e32;
$confirmedTextColor:#e9d73a;
$deathTextColor:#c34c26;
$recoveredTextColor:#3ae96b;